{% extends 'base.html' %}
{% block contents %}
<div class="PageName">생자대배달</div>


<div class="DeliveryList">
    <div class="caraselbutton_left"></div>
    <div class="deliveryContent">

        {% for delivery_list in delivery_lists %}
        <div class="deliveryContents">
            <a href="{% url 'delivery_list' delivery_list.id %}">

            <img width = "300px;" src="{{delivery_list.image.url}}"><br>
            <div class="delivery-title">{{delivery_list.title}}</div>

            </a>
        </div>
        {% endfor %}

    </div>
    <div class="caraselbutton-right"></div>

</div>

{% endblock contents %}