
{% extends 'base.html' %}
{% block contents %}
<div class="PageName">생자대배달</div>



{% for delivery_list in delivery_lists %}

    <h1>{{delivery_list.title}}</h1><br>
    notion : {{delivery_list.notion}}<br>
    <img width = "300px;" src="{{delivery_list.image.url}}"><br>
    menu : {{delivery_list.menu}}<br>
    description {{delivery_list.description}}<br>

    <a href="{% url 'delivery_list' delivery_list.id %}">디테일 페이지</a>
    
{% endfor %}
    


{% endblock contents %}