{% extends 'base.html' %}

{% block contents %}
<div class="PageName">자유게시판</div>

<div class="board-content">
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>

        {% for free in free_posts %}
        <tbody>
        <tr>
            <td class="table-number">{{free.id}}</td>
            <td class="table-title"><a href="{%url 'free_detail' free.id%}">{{free.title}}</a></td>
            <td class="table-author">{{free.author}}</td>
            <td class="table-date">{{free.created_date}}</td>
            <td class="table-hits">{{free.hits}}</td>
        </tr>    
        </tbody>
        {% endfor %}

    </table>


    
    <div class="textWrite-button">
        {%if user.is_authenticated %}
        <a href="{% url 'free_post'%}">글작성</a><br>
        {% endif %}  
    </div>

    
    <div class="Pagenation">
        {# 페이지네이션을 통한 객체 불러오기 #}
        <br> 
        {% if free_posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{free_posts.previous_page_number}}">Previous</a>
        {% endif %}

        <span>{{free_posts.number}}</span>
        <span>of</span>
        <span>{{free_posts.paginator.num_pages}}</span>

        {% if free_posts.has_next %}    
        <a href="?page={{free_posts.next_page_number}}">Next</a>
        <a href="?page={{free_posts.paginator.num_pages}}">Last</a>
        {% endif %}
    </div>
    
</div>

{% endblock contents %}