<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body{
        width: 100%; 
        margin: auto 10;

    }
</style>
<body>

    
    <form action="{% url 'notice_post'%}" method="POST" enctype="multipart/form-data">
        
        {{ notice_form.media }}     
        {{ notice_form.as_p|safe }}

        {% csrf_token %}
    
        
        <input type="submit" value="글쓰기">
    </form> 
        


    
</body>
</html>
