@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Dokdo|East+Sea+Dokdo|Nanum+Pen+Script|Noto+Sans+JP:500,700,900|Titillium+Web:400,600,700,900&display=swap&subset=korean');
body {
    width : 100%;
    height : 100%;
    background-color: rgb(89,82,48);
    margin : 0;
    font-family: 'East Sea Dokdo', cursive;
    /* font-family: 'Dokdo', cursive; */
    /* font-family: 'Titillium Web', sans-serif; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Nanum Pen Script', cursive; */
}

/* top */
.Top {
    width : 100%;
    height : 80px;

}
.LogInOut{
    text-align: center;
    margin-top : 30px;
    font-weight: 550;
    width : 80px;
    height : 25px;
    margin-right : 20px;
    float : right;
    position : fixed;
    margin-left : 77%;
    top : 0;
    font-size : 15pt;
    background-color : rgb(193,217,200);
    border-radius: 10px;
}
.LogInOut>a {
    text-decoration : none;
    color : black;
    /* font-family: 'Dokdo', cursive; */
}

/* main */
.Main {
    margin-top : 50px;
    height : 520px;
    width : 100%;
    text-align : center;
    padding-left : 0;
}
.BusandBab {
    margin-top : 40px;
    margin-bottom : 30px;
    width : 100%;
    /* background-color: red; */
}
    .main-Bus {
        display : inline-block;
        width : 100px;
        background : rgb(204,177,142);
        color : black;
        border-radius: 6px;
        margin-right : 5px;
    }
    .main-Bus>a {
        text-decoration: none;
    }
    .main-Bab {
        display : inline-block;
        background : rgb(204,177,142);
        border-radius: 6px;
        color : black;
        margin-left : 5px;
        width : 100px;
    }
    .main-Bab>a {
        text-decoration: none;
    }
.Icon {
    width : 100%;
    text-align : center;
    height : 230px;
    margin : 0 auto;
    /* font-family: 'Dokdo', cursive; */
}
.Icons {
    width : 100px;
    /* height : 100; */
    float : left;
    margin-left : 10px;
    margin-bottom : 30px;
    /* background-color: green; */
}
.Icons>a {
    text-decoration : none;
    color : black;
    font-weight: 200;
}
.photo {
    width : 100px;
    height : 100px;
    background-color : rgb(170,165,125);
    border-radius : 20rem;
    text-align : center;
    margin : 0 auto;
    vertical-align : middle;

}
.photo>img {
    width :70px;
    height : auto;
    padding-top : 10px;
}
#animal4 {
    padding : 8px;
}
#animal5 {
    padding : 20px;
}
#animal6 {
    padding-top : 23px;
    padding-right : 3px;
}

.iconsName {
    padding-top : 5px;
    width : 100%;
    height : 20%;
    text-align : center;
    font-size : 16pt;

}

.aa { 
    width : 300px;
    border-spacing: 0; 
    border-collapse:collapse; 
    margin:0 auto; 
    padding: 0;
    text-align: center;
    /* background-color: blueviolet; */
    margin-top : 50px;
}

