body {
    background-color : white;
    margin : 0;
}
header {
    width : 100%;
    height : 35px;
    background-color : white;
    border-bottom: 1px rgb(192, 192, 192) solid;
    position : fixed;
    top : 0;
    z-index: 3;
    padding-top : 15px;
    padding-bottom : 5px;
}
.Logo {
    width : 150px;
    height : 35px;
    margin : 0 auto;
    float : left;
    margin-left : 60px;
    padding-top : 0px;
    padding-bottom : 2px;
    position : fixed;
    z-index: 2;
    font-size : 20pt;
    font-weight: 600;
    color : black;
}
.UserMail {
    width : 200px;
    height : 100%;
    margin : 0 auto;
    float  :right;
    margin-right : 100px;
    text-align: right;
    padding-top : 9px;
    font-size: 10pt;
}
/* nav가 위에 있는 레이어 */
nav {
    width : 200px;
    height : 100%;
    background-color : rgb(100,90,70);
    position : fixed;
    top : 0px;
    left : 0px;
    text-align: center;
    z-index: 1;

}
.nav-head {
    width : 100%;
    height : 40px;
    background-color : white;
    top : 0;
    left : 0;
}
.nav-content {
    width : 100%;
    height : 100%;
    top : 35px;
    left : 0;
    padding-top : 45px;
}
.nav>a , .Logo>a, header>a {
    text-decoration: none;
}
.nav-icon {
    width : 90%;
    height : 40px;
    text-align : center;
    margin : 10px auto;
    color : white;
    font-size : 10pt;
    font-weight: 600;
    letter-spacing: 1pt;
}
/* content가 아래있는 레이어 */
.content {
    width : 70%;
    height : 100%;
    /* position : fixed; */
    top : 35px;
    margin-right : 100px;
    margin-left : 200px;
    margin-top : 10px;
    margin-bottom : 40px;
    padding-left : 50px;
    padding-bottom : 50px;

}
.PageName {

    width : 200px;
    margin-top : 100px !important ;
    height : 28px;
    border-left : 5px solid rgb(170,165,125);
    padding-left : 10px;
    font-size : 15pt;
    font-weight: 800;
    /* background-color : red; */
}

.plusbtn {
    width : 15px;
    /* background-color: blue; */
    
}

.PageContent {
    width : 100%;
    margin-top : 40px;
    height : 330px;
    padding-right : 100px;
}
footer {
    width : 100%;
    height : 35px;
    border-top : 1px solid rgb(223, 223, 223);
    position : fixed;
    bottom : 0px;
    margin-left : 200px;
}


/* notice.css내용 */
.board-content{
    width : 100%;
    height : 100%;
    /* background-color : red; */
    padding-top : 20px;
}

.Pagenation {
    margin-top : 20px;
    width : 100%;
    text-align: center;
    /* background-color : red; */
}

/* table */
table {
    width : 100%;
    height : 100%;
    border-collapse : collapse;

}
thead {
    border-top : 2px solid black;
    border-bottom : 1px solid gray;


}
tr, th, td {
    text-align : center;
    padding-left : 10px;
}
th {
    padding-top : 15px;
    padding-bottom: 15px;
    font-size : 12pt;
}
td {
    padding-top : 7px;
    padding-bottom : 7px;
    font-size : 11pt;
}
.table-title>a {
    text-decoration : none; 
    color : black;
}
.table-number {
    color : rgb(51, 50, 50);

}
.table-title {
    font-weight: 500;
    padding : 0 130px;
    text-align : left !important;
}
.table-author {
    color : rgb(51, 50, 50);
    padding-left : 0 70px;
}
.table-date {
    color :rgb(70, 69, 69);
    font-size : 9pt;
}
.table-hits {
    color : rgb(100,90,70);
}

/* 페이지네이션 */



/* 생자대 배달 */
.photo-content {
    width : 100%;
    height : 530px;
    /* background-color :red; */
    padding-top : 40px;
    /* display: flex; */
}

.deliveryContents {
    /* background-color: gray; */
    width : 220px;
    height : 270px;
    display : block;
    float : left;
    margin-right : 45px;
    margin-bottom: 80px;
}
.deliveryContents>a {
    text-decoration : none;
    color : black;
}
.photoSpace {
    background-color : rgb(185, 185, 185);
    width : 100%;
    height : 220px;
    
}
.delivery-photo {
    /* background-color : blue; */
    width : 100%;
    height : auto;
    
}
.delivery-text {
    width : 100%;
    padding-top : 12px;

}
.delivery-title {
    font-size : 11pt;
    font-weight: 700;
}
.delivery-price {
    font-size : 10pt;
    font-weight: 400;
    color : rgb(100, 100, 100);
}

/* 앨범 */
.imageContents {
    /* background-color: orange; */
    width : 220px;
    height : 210px;
    display : block;
    float : left;
    margin-right : 45px;
    margin-bottom: 80px;
    border : solid 3px rgb(190, 190, 190);
    /* border-top : 10px solid rgb(190, 190, 190);
    border-bottom : 10px solid rgb(190, 190, 190); */
    border-radius: 1rem;
}

.photoSpace {
    /* background-color : purple; */
    width : 100%;
    height : 170px;
    overflow: hidden;
    
}
.image-photo {
    /* background-color : blue; */
    width : 100%;
    height : auto;
    
}
.photoText {
    width : 100%;
    padding-top : 6px;
    margin-left : 4px;
    /* background-color : green; */

}
.imageContents >a {
    text-decoration : none;
    color : black; 
}
.photoTag-tag {
    font-size : 11pt;
    font-weight: 700;
}
.photoTag-likes {
    float: right;
    /* background-color : blue; */
    width : 42px;
    padding-right : 12px;
    margin-bottom: 2px;
}

.heart {
    width : 18px;
    float : left;
    
}
.heartNum {
    font-size : 11pt;
    color : rgb(53, 47, 34);
    padding-left : 5px;
    font-weight: 600;
    /* background-color : pink; */
    float: right;
}



/* phone */
@media (max-width : 320px) {
    body {
        width : 100%;
        height : 530px;
        border : 1px dotted black;
    }
    header {
        width : 100%;
        height : 10%;
        border : 1px solid red;
    }
    nav {
        width : 100%;
        height : 20%;
        border : 1px solid blue;
    }
    .content {
        width : 100%;
        height : 40%;
        border : 1px solid green;
    }
    footer {
        width : 100%;
        height : 10%;
        border : 1px solid rgb(222, 247, 222);
    }
}
/* tablets */

@media (max-width : 991px) {

}

@media (max-width : 767px) {

}
@media (max-width : 769px) {

}