<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>생자대 커뮤니티</title>
</head>
<body>

    <a href="{% url 'delivery' %}">배달</a>
    <a href="{% url 'notice' %}">자유게시판</a>
    <a href="#">공지게시판</a>
    <a href="#">생자대앨범</a>
    <a href="#">회원</a>
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'logout' %}">로그아웃</a>
</body>
</html>